.bh-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  line-height: 22.4px;
  border-radius: 20px;
  font-weight: 600;
  font-family: var(--work-sans);
  font-size: 16px;
  color: var(--primary-text-color);
  transition: 2s;
}
.bh-button-icon {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.bh-button-one {
  background-color: var(--button-bg-color);
  border: 0;
}
.bh-button-two {
  background-color: transparent;
  border: 2px solid var(--button-bg-color);
}
.bh-button-three {
  background-color: var(--primary-text-color);
  border: 0;
  color: var(--bg-color);
}
.bh-button:hover {
  transform: translate(25%);
  opacity: 0.7;
}
