.mh_ul_infoUL{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.mh_li_infoUL{
    color: var(--primary-text-color);
    list-style: none;
    text-align: start;
    width: 150px;
}
.mh_h4_infoUL{
    font-family: var(--space-mono);
    font-weight: 700;
    font-size: 28px;
    line-height: 39.2px;
}
.mh_p_infoUL{
    font-family: var(--work-sans);
    font-weight: 400;
    font-size: 23.99px;
    line-height: 38.38px;
}