.mh_ul_infoUL{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 30px;
}
.mh_li_infoUL{
    color: var(--primary-text-color);
    list-style: none;
    text-align: start;
    width: 150px;
}
.mh_h4_infoUL{
    font-family: var(--space-mono);
    font-weight: 700;
    font-size: 28px;
    line-height: 39.2px;
    margin-bottom: 0;
}
.mh_p_infoUL{
    font-family: var(--work-sans);
    font-weight: 400;
    font-size: 23.99px;
    line-height: 38.38px;
    margin-bottom: 0;
}
@media (max-width:1279px){
    .mh_li_infoUL{
        width: 90px;
    }
    .mh_h4_infoUL{
        font-size: 22px;
        line-height: 35.2px;
    }
    .mh_p_infoUL{
        font-size: 16px;
        line-height: 22.4px;
    }
}
@media (max-width: 833px){
    .mh_li_infoUL{
        width: 85px;
    }
}